
.header__wrapper-up {
    background-color: black;
    Width: 1440px;
    /*Height: 33px;*/
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    margin-bottom: 29px;
}


.header {
    max-width: 1440px;
    margin: 0 auto;

}

.header__wrapper {

}


.header__wrapper-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-right: 21px;
    text-decoration: none;

}

.header__logo-nav-wrapper {
    text-decoration: none;
}

.header__logo {


}

.nav {
    /*margin-top: 22px;*/
    display: flex;
    justify-content: space-between;
    /*display: flex;*/
    /*justify-content: space-between;*/
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    text-underline: none;
    text-decoration: none;
    /*padding-top: 22px;*/
    /*padding-left: 150px;*/
    /*padding-right: 389px;*/
    /*text-decoration: none;*/


}

.nav-link {
    display: flex;
    padding-right: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}

.nav-item {

}

.header__avatar__cart div {
    /*padding-top: 26px;*/
}

.header__cart{
    /*padding-left: 11px;*/
}

/*@media (max-width: 320px){*/
/*    .header__wrapper-up {*/
/*        max-width: 320px;*/
/*    }*/



/*}*/

/*@media (max-width: 480px) {*/
/*    .header__wrapper-up{*/
/*        max-width: 470px;*/
/*    }*/

/*!*    .header__wrapper-up {*!*/
/*!*width: 480px;*!*/
/*!*    }*!*/


/*}*/

/*@media (max-width: 768px){*/
/*    .header__wrapper-up{*/
/*        max-width: 750px;*/
/*    }*/
/*}*/

/*@media (max-width: 1024px){*/
/*    .header__wrapper-up{*/
/*        max-width: 900px;*/
/*    }*/
/*}*/

/*@media (max-width: 1280px){*/
/*    .header__wrapper-up{*/
/*        max-width: 920px;*/
/*    }*/
/*}*/