.rectangle__shadow {
    margin: 0 auto;
    Width: 1440px;
    Height: 66px;
    background-color: gainsboro;
    opacity: 100%;

}

@media (max-width: 320px){

}

@media (max-width: 480px) {


    /*    .header__wrapper-up {*/
    /*width: 480px;*/
    /*    }*/


}

@media (max-width: 768px){

}

@media (max-width: 1024px){

}

@media (max-width: 1280px){

}