.ciro{
    max-width: 1440px;
    margin: 0 auto;
}

.ciro__title{

    width: 368px;
    Height:36px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-left: 539px;
}

.ciro__rec{
    padding-left: 340px;
}



@media (max-width: 320px){

}

@media (max-width: 480px) {


    /*    .header__wrapper-up {*/
    /*width: 480px;*/
    /*    }*/


}

@media (max-width: 768px){

}

@media (max-width: 1024px){

}

@media (max-width: 1280px){

}