
.header__wrapper-up {
    margin: 0 auto;
    background-color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.header__tagline {
    color: white;
    padding: 7px 0;
}

.header {
    margin: 0 auto;
}

.header__wrapper {
    max-width: 1440px;
}


.header__wrapper-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-right: 21px;
    text-decoration: none;

}

.header__logo-nav-wrapper {
    text-decoration: none;
}

.header__icons {
    display: flex;
}

.header__icon {
    padding-left: 11px;
}




.nav {
    display: none;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    text-underline: none;
    text-decoration: none;
    /*padding-top: 22px;*/
    /*padding-left: 150px;*/
    /*padding-right: 389px;*/
    /*text-decoration: none;*/
    position: relative;
}

@media (min-width: 1024px) {
    .nav {
        display: flex;
    }
}

.nav-link {
    padding-right: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.nav-item {

    padding: 20px;
}

.header__avatar__cart div {
    /*padding-top: 26px;*/
}

.header__cart{
    /*padding-left: 11px;*/
}

/*@media (max-width: 320px){*/
/*    .header__wrapper-up {*/
/*        max-width: 320px;*/
/*    }*/



/*}*/

/*@media (max-width: 480px) {*/
/*    .header__wrapper-up{*/
/*        max-width: 470px;*/
/*    }*/

/*!*    .header__wrapper-up {*!*/
/*!*width: 480px;*!*/
/*!*    }*!*/


/*}*/

/*@media (max-width: 768px){*/
/*    .header__wrapper-up{*/
/*        max-width: 750px;*/
/*    }*/
/*}*/

/*@media (max-width: 1024px){*/
/*    .header__wrapper-up{*/
/*        max-width: 900px;*/
/*    }*/
/*}*/

/*@media (max-width: 1280px){*/
/*    .header__wrapper-up{*/
/*        max-width: 920px;*/
/*    }*/
/*}*/

.burger-menu-button {
    display: block;
}

@media (min-width: 1024px) {
    .burger-menu-button {
        display: none;
    }
}

.nav-burger {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    /* height: 314px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1024px) {
    .nav-burger {
        display: none;
    }
}
.not-view {
    display: none;
}