
.hero {
    max-width: 1440px;
    margin: 0 auto;

}

.hero__wrapper {
    /*Width: 1440px;*/
    Height: 810px;
    list-style: none;
    margin-top: 23px;
    /*padding-left: 0;*/
    /*background-repeat: no-repeat;*/
    background-image: url("../images/Rectangle1.png");
    object-fit: scale-down;

}

.hero__wrapper-item {
    /*padding: 53px 403px 603px 402px;*/
    padding-top: 53px;
    max-width: 550px;
    margin: 0 auto;
    /*display: flex;*/
    /*align-items: center;*/
    /*Width: 635px;*/
    /*Height: 160px;*/
    align-items: center;
    text-align: center;
}


.hero__title {
    /*Width: 511px;*/
    /*Height: 51px;*/
    font-weight: 400;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.hero__discription{

    /*width: 537px;*/
    /*height: 19px;*/
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    padding-top: 14px;
}

.hero__wrapper__button {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 12px;*/
}

/*.button {*/
/*    background: #FF4A32;*/
/*    border-radius: 35px;*/
/*    color: white;*/
/*    !*padding: 5px 37px;*!*/
/*    border: none;*/
/*    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);*/
/*}*/


.button__top {
    background: #FF4A32;
    border-radius: 35px;
    color: white;
    /*padding: 5px 37px;*/
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 5px 47px 5px 47px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 22px;
    margin-right: 12px;
}

.wrapper__bot {
/*    Width: 1440px;*/
    Height: 83px;
    background-color: black;
}

.wrapper__bot__rec {
    padding: 18px 191px 17px 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img__rec__1 {
    width: 150px;
    height: 31px;
}

.img__rec__2 {
    width: 206px;
    height: 48px;
}

.img__rec__3 {
    width: 150px;
    height: 41px;
}

.img__rec__4 {
    width: 158px;
    height: 33px;
}

/*@media (max-width: 320px){*/
/*    .hero{*/
/*        max-width: none;*/
/*    }*/
/*        .hero__title{*/
/*            font-size: 33px;*/

/*    }*/
/*    .header__cart{*/
/*        max-width: 100%;*/
/*    }    !*.hero__title{*!*/
/*    !*    font-size: 30px;*!*/

/*    !*}*!*/
/*    .hero__wrapper{*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .hero{*/
/*        max-width: 4600px;*/
/*    }*/
/*    .hero__wrapper{*/
/*        max-width: 100%;*/
/*    }*/
/*    !*    .header__wrapper-up {*!*/
/*    !*width: 480px;*!*/
/*    !*    }*!*/


/*}*/

/*@media (max-width: 768px){*/
/*    .hero{*/
/*        max-width: 680px;*/
/*    }*/
/*    .hero__wrapper{*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

/*@media (max-width: 1024px){*/
/*    .hero{*/
/*        max-width: 980px;*/
/*    }*/
/*    .hero__wrapper{*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

/*@media (max-width: 1280px){*/
/*    .hero{*/
/*        max-width: 1170px;*/
/*    }*/
/*    .hero__wrapper{*/
/*        max-width: 100%;*/
/*    }*/
/*}*/